# Core functionality - changes here should be rare!
/src/app.py                   @LubomirKuznik
/src/backend/database.py      @LubomirKuznik
/src/backend/routers/auth.py  @LubomirKuznik

# The frontend will need refactored soon to be more object oriented.
/src/static/   @LubomirKuznik
